# Bytes
__pycache__/
*.py[cod]

# Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store

# Type checking
.mypy_cache/

# Linting
.ruff_cache/
